<h1>WOD - <%= @wod.content %></h1>
<hr />
<br />

<div class="wod-buttons">
  <h4><a href = "/wods/new" >Write a new WOD</a></h4>
  <h4><a href='/wods/<%= @wod.id %>/edit'>Edit WOD</a></h4>
  <h4><a href="/users/<%=current_user.slug%>">WOD Profile</a></h4>
  <h4><a href = "/wods">WOD Feed</a></h4>
  <h4><a href = "/logout" >Logout</a></h4>
</div>

<h2>Details of this WOD:</h2>
  <br />
  <div class="content">
    <p><strong>Duration:</strong> <%= @wod.duration %> -- <strong>Level:</strong> <%= @wod.level %></p>
  </div>
    <br />
  <div class="content">
    <h3>Exercise Details:</h3>
      <p id="exercise_details"><%= @wod.exercise_details %></p>
    <h3>Comments, Thoughts, Strategies, Goals:</h3>
      <p id="comments"><%= @wod.comments %></p>
  </div>

<form method="post" action="/wods/<%=@wod.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="Delete WOD">
<form>
